.hljs {
  .hljs-comment {
    color: gray;
  }
  .hljs-string {
    color: #23bd82;
  }
  .hljs-attr {
    color: #f0f087;
  }
  .hljs-name {
    color: #0099ff;
  }
  .hljs-tag {
    color: #a4ebf8;
  }
  .hljs-keyword {
    color: #0051ff;
  }
  .hljs-class {
    color: #0becec;
  }
  .hljs-function {
    color: #c8ff00;
  }
}
pre {
  padding: 1rem;
  border-radius: 10px;
  background: #131720;
  overflow-x: overlay;

  code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: antiquewhite;
    font-size: 0.85rem;
  }
}
