@import "./mixins.scss";

wrapper {
  pre {
    padding: 1rem;
    border-radius: 5px;
    background: #000000;
    overflow-x: overlay;
    code {
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
      color: antiquewhite;
    }
  }
  inlineCode {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: rgb(214, 214, 214);
  }

  ::-webkit-scrollbar-corner {
    background: none;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(107, 107, 107);
    min-height: 24px;
    border: 3px solid rgb(43, 43, 43);
  }
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-corner {
    background-color: rgb(43, 43, 43);
  }

  a {
    color: #006eff;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
      color: blue;
    }
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  li {
    padding: 0.5rem;
  }

  blockquote {
    padding: 1rem;
    background: #ffa6009d;
    border-radius: 5px;
    margin: 10px;
  }

  table {
    background-color: white;
  }
  thead {
    background-color: rgb(209, 209, 209);
  }
  th,
  td {
    padding: 0.5rem;
  }
  tbody {
    background-color: rgb(235, 233, 233);
  }
}
inlineCode {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: rgb(214, 214, 214);
}

@include darkTheme {
  wrapper {
    table {
      background-color: transparent;
    }
    thead {
      background-color: rgb(7, 16, 26);
    }
    th,
    td {
      padding: 0.5rem;
    }
    tbody {
      background-color: rgb(8, 19, 31);
    }
    blockquote {
      padding: 1rem;
      background: #ffa60081;
      border-radius: 5px;
      margin: 10px;
    }
  }
}
