@import "./mixins.scss";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

wrapper {
  pre {
    margin: 16px auto;
    padding: 16px;
    background-color: #011529;
    -webkit-print-color-scheme: dark;
    color-scheme: dark;
    direction: ltr;
    border-radius: 10px;
    border: 1px solid;
    border-color: #132f4c;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-width: calc(100vw - 32px);
    overflow-x: overlay;
    code {
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
      color: antiquewhite;
    }
  }
  inlineCode {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: #d6d6d6;
  }

  ::-webkit-scrollbar-corner {
    background: none;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(107, 107, 107);
    min-height: 24px;
    border: 3px solid rgb(43, 43, 43);
  }
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-corner {
    background-color: rgb(43, 43, 43);
  }

  a {
    color: #0072e5;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    text-decoration-color: #007fff66;
    &:hover {
      text-decoration-color: #0072e5;
    }
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.2222222222222223;
    letter-spacing: 0;
    font-family: "PlusJakartaSans-ExtraBold", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 800;
    margin: 16px 0;
    color: #0a1929;
  }
  h2 {
    font-size: 1.875rem;
    line-height: 1.5;
    letter-spacing: 0;
    font-family: "PlusJakartaSans-Bold", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    margin: 40px 0 10px;
    color: #132f4c;
  }
  h3 {
    font-size: 1.3rem;
  }
  h2,
  h3 {
    border-bottom: 1px #6d6c6c solid;
    cursor: pointer;
    &:hover {
      border-bottom: 2px #0394d8 solid;
    }
  }
  li {
    padding: 0.5rem;
  }

  blockquote {
    padding: 1rem;
    background: #ffa6009d;
    border-radius: 5px;
    margin: 10px;
  }
  p {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0;
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    word-break: break-word;
  }

  table {
    background-color: #ffffff;
  }
  thead {
    background-color: #d1d1d1;
  }
  th,
  td {
    padding: 0.5rem;
  }
  tbody {
    background-color: #ebe9e9;
  }
}
inlineCode {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #d6d6d6;
}

@include darkTheme {
  wrapper {
    table {
      background-color: transparent;
    }
    thead {
      background-color: #07101a;
    }
    h1,
    h2,
    h3,
    h4 {
      color: #71e8f8;
    }
    th,
    td {
      padding: 0.5rem;
    }
    tbody {
      background-color: #08131f;
    }
    blockquote {
      padding: 1rem;
      background: #ffa60081;
      border-radius: 5px;
      margin: 10px;
    }
    a {
      color: #00ffff;
      text-decoration-color: #019696;
      &:hover {
        text-decoration-color: #00ffff;
      }
    }
  }
  inlineCode {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: #040113;
  }
}
inlineCode {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #d6d6d6;
  padding: 2px 4px;
  border-radius: 5px;
}
