wrapper {
  pre {
    padding: 1rem;
    border-radius: 5px;
    background: #141414;
    overflow-x: overlay;
    code {
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
      color: antiquewhite;
    }
  }
  inlinecode {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: rgb(214, 214, 214);
  }

  ::-webkit-scrollbar-thumb {
    background: #8d8d8d;
  }

  /* ::-webkit-scrollbar-track {
  opacity: 0;
} */

  ::-webkit-scrollbar-corner {
    background: none;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  a {
    color: #006eff;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
      color: blue;
    }
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  li {
    padding: 0.5rem;
  }

  blockquote {
    padding: 1rem;
    background: #ffa6009d;
    border-radius: 5px;
    margin: 10px;
  }

  table {
    background-color: white;
  }
  thead {
    background-color: rgb(209, 209, 209);
  }
  th,
  td {
    padding: 0.5rem;
  }
  tbody {
    background-color: rgb(235, 233, 233);
  }
}
