@import "../../shared/styles/mixins.scss";

@media (min-width: 900px) {
  .root {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (min-width: 0px) {
  .root {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 900px) {
  .root {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.root {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

.h2 {
  margin: 0;
  font-family: "PlusJakartaSans-ExtraBold", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(1.5rem, 0.9643rem + 1.4286vw, 2.25rem);
  font-weight: 800;
  line-height: 1.2222222222222223;
  color: #132f4c;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 0px) {
  .p {
    margin-bottom: 20px;
  }
}
.p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: #3e5060;
  max-width: 450px;
}
.category {
  margin-bottom: 10px;
}
.platinum {
  margin: 0;
  font-family: "PlusJakartaSans-Bold", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  font-weight: 800;
  color: #007fff;
}

@media (min-width: 900px) {
  .css-1u16h00 {
    width: calc(100% + 40px);
    margin-left: -40px;
  }
}
@media (min-width: 0px) {
  .grid {
    width: calc(100% + 20px);
    margin-left: -20px;
  }
}
@media (min-width: 900px) {
  .grid {
    margin-top: -40px;
  }
}
@media (min-width: 0px) {
  .grid {
    margin-top: -20px;
  }
}
.grid {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media (min-width: 900px) {
  .grid-item {
    padding-left: 40px;
  }
}
@media (min-width: 0px) {
  .grid-item {
    padding-left: 20px;
  }
}
@media (min-width: 900px) {
  .grid-item {
    padding-top: 40px;
  }
}
@media (min-width: 0px) {
  .grid-item {
    padding-top: 20px;
  }
}
.grid-item {
  flex-basis: 33.333333%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  max-width: 33.333333%;
}
@media screen and (max-width: 700px) {
  .grid-item {
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
  }
}
.link {
  color: #1a2027;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 10px;
  border: 1px solid #e7ebf0;
  background-image: none;
  background-color: #fff;
  border-color: #e0e3e7;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.icon:hover {
  border-color: #cdd2d7;
  background: #f3f6f9;
}

.icon:hover {
  background-color: rgba(0, 127, 255, 0.04);
}
.icon:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  text-align: center;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 1.5rem;
  padding: 8px;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  color: #007fff;
  margin-right: 20px;
  border: 1px solid;
  border-color: #cdd2d7;
  svg {
    width: 45;
    height: 45;
  }
}

.link {
  color: #1a2027;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 10px;
  border: 1px solid #e7ebf0;
  background-image: none;
  background-color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  border-style: dashed;
  border-color: #cdd2d7;
  p {
    margin: 0px;
  }
}

.name {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1a2027;
  font-weight: 700;
}
.description {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: #3e5060;
}

@include darkTheme {
  .h2 {
    color: #f5f5f5;
  }
  .link {
    color: white;
    border: 1px solid #1e4976;
    border-color: #1e4976;
    background-color: #153150;
  }
  .icon {
    border-color: #1e4976;
  }

  .name {
    color: rgb(214, 214, 214);
    font-weight: 700;
  }
  .description {
    color: #fdfdfd;
  }
}
