@import "../../shared/styles/mixins.scss";
.root {
  width: 100%;
  margin-left: auto;
  max-width: 1400px;

  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 600px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width: 600px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.why-orbiton {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  color: #0072e5;
  font-weight: 700;
  margin-bottom: 10px;
}
.wonder {
  margin: 0;
  font-family: "PlusJakartaSans-ExtraBold", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(1.5rem, 0.9643rem + 1.4286vw, 2.25rem);
  font-weight: 800;
  line-height: 1.2222222222222223;
  color: #132f4c;
  margin-top: 10px;
  max-width: 500px;
  @media (min-width: 600px) {
    margin-bottom: 40px;
  }
}
.highlight {
  background: linear-gradient(to right, #007fff, #0059b2);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grid {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: -20px;
  width: calc(100% + 20px);
  margin-left: -20px;
}
.griditem {
  box-sizing: border-box;
  margin: 0;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  max-width: 100%;
  margin-top: 20px;
  padding-left: 20px;
  @media (min-width: 600px) {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 50%;
  }
}
.grid-item-cover {
  color: #20262d;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -moz-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 10px;
  border: 1px solid #e5e8ec;
  background-color: #fff;
  display: block;
  border-color: #e5e8ec;
  padding: 20px;
}
@include darkTheme {
  .wonder,
  .grid-item-cover,
  .p,
  .h3 {
    color: #f5f5f5;
  }
  .grid-item-cover {
    border: 1px solid #1e4976;
    border-color: #1e4976;
    background-color: #153150;
  }
}
.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
  svg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -moz-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.25rem;
    color: #007fff;
  }
}
.h3 {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  color: #20262d;
  margin-left: 10px;
}
.p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: #46505a;
}
