@import "../../shared/styles/mixins.scss";

.toc {
  position: fixed;
  top: 140px;
  transition: all 0.3s;
  right: -1000px;
  padding: 0.7rem;
  border: none;
  background-color: #e5e8ec;
  border-radius: 8px;
  box-shadow: #011d3879 1px 1px 6px;
  ol {
    list-style: none;
    padding-left: 20px;
    li {
      border-left: #e5e8ec00 2px solid;
      &:hover {
        border-left: rgb(0, 132, 255) 2px solid;
      }
    }
  }
}
body[tocOn] {
  .toc {
    top: 140px;
    right: 12px;
  }
}
