@import "../../shared/styles/mixins.scss";

@include mobile {
  .toc {
    display: none;
  }
}
.toc {
  position: fixed;
  top: 140px;
  transition: all 0.3s;
  right: 0px;
  width: 220px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow-y: auto;
  border: none;
  border-radius: 8px;
  a {
    color: #39393aef;
    -webkit-text-decoration: underline;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    &:hover {
      color: #0072e5;
      text-decoration-color: #0072e5;
    }
  }
  ol {
    list-style: none;
    padding-left: 10px;
    li {
      padding: 0px 0px 0px 10px;
      border-left: #e5e8ec00 2px solid;
      &:hover {
        border-left: rgb(0, 132, 255) 2px solid;
      }
    }
  }
}
body[tocOn] {
  .toc {
    top: 140px;
    right: 12px;
  }
}

@include darkTheme {
  .toc {
    a {
      color: #b3b3b3;
    }
  }
}

.DocSearch-Button {
  font-weight: 500;
  height: 36px;
  justify-content: space-between;
  margin: 0 0 0 16px;
  padding: 0 8px;
  user-select: none;
  min-height: 34px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 8px;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  position: relative;
  background-color: rgb(243, 246, 249);
  color: rgb(62, 80, 96);
  font-size: 0.875rem;
  border: 1px solid rgb(224, 227, 231);
  border-radius: 10px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 150ms;
}

.DocSearch-Button .DocSearch-Search-Icon {
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #007fff;
}
