@import "../../shared/styles/mixins.scss";

@include mobile {
  .toc {
    display: none;
  }
}
.toc {
  position: fixed;
  top: 140px;
  transition: all 0.3s;
  right: 0px;
  width: 220px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow-y: auto;
  border: none;
  border-radius: 8px;
  a {
    color: #39393aef;
    -webkit-text-decoration: underline;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    &:hover {
      color: #0072e5;
      text-decoration-color: #0072e5;
    }
  }
  ol {
    list-style: none;
    padding-left: 10px;
    li {
      padding: 0px 0px 0px 10px;
      border-left: #e5e8ec00 2px solid;
      &:hover {
        border-left: rgb(0, 132, 255) 2px solid;
      }
    }
  }
}
body[tocOn] {
  .toc {
    top: 140px;
    right: 12px;
  }
}

@include darkTheme {
  .toc {
    a {
      color: #b3b3b3;
    }
  }
}
