@import "../../shared/styles/mixins.scss";

.about {
  display: flex;
  overflow-x: scroll;
  padding: .5rem .3rem;
  scrollbar-color: #8d8d8d00;
  scrollbar-width: thin;
  div {
    background: #f7f6f6;
    text-align: center;
    border-radius: 3px;
    min-width: 280px;
    margin: 4px 10px;
    padding: 1rem;
    box-shadow: #efefef 1px 1px 5px;
    h3 {
      font-size: 1.6rem;
      margin: 0px;
      color: #3f51b5;
    }
    p {
      font-size: 1rem;
      color: rgb(49, 49, 49);
    }
    b {
      color: purple;
    }
  }
  &:hover {
    scrollbar-color: #8d8d8d;
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: #8d8d8d;
    }
  }
}
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #8d8d8d;
  }
  ::-webkit-scrollbar-track {
    opacity: 0;
  }
  ::-webkit-scrollbar-corner {
    background: none;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
.getstarted {
  text-align: center;
  button {
    padding: 1rem 2rem;
    transform: translateY(-1.3rem);
    cursor: pointer;
    background: linear-gradient(20deg, purple, rgb(255, 94, 0));
    border-radius: 50px;
    border: none;
    color: white;
    box-shadow: grey 1px 1px 5px;
    text-transform: uppercase;
  }
}

.install {
  display: flex;

  @include mobile {
    & {
    flex-direction: column;
    }
  }
  text-align: center;

  & > div {
    flex: 1;

    padding: 0rem 1rem;
  }
}
.instheading {
    text-align: center;
    font-size: 1.6rem;
    margin: 0px;
    color: #363636;
}

.install2 {
  text-align: center;

    padding: 0rem 1rem;
  &>div {
    flex: 1;

  }
}
