
body {
  font-family: 'Roboto',
  sans-serif;
  margin: 0px;
  background: whitesmoke;
}

.navbar {
  background: rgb(255, 255, 255);
  align-items: center;
  display: flex;
  flex-direction: column;
  //padding: .2rem;
  box-shadow: rgba(0, 0, 0, 0.63) 1px 1px 3px;
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}
.flex {
  display: flex;
  margin-bottom: .2rem;
  margin-top: .2rem;
  width: 100%;
}

.navlogos {
  height: 30px;
}
@media screen and (max-width: 450px) {
  .search {
    display: none;
  }
}


.logo {
  margin-left: 10px;
}

.menuicon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
  }
}

.sideflex {
  display: flex;
  align-items: center;
  margin-left: auto;
  input {
    border: none;
    outline: none;
    padding: .5rem;
    background: rgba(184, 184, 184, 0.336);
    border-radius: 5px;
    &:hover {
      background-color: rgba(107, 107, 107, 0.384);
    }
  }
}
.search {
  margin-right: 10px;
}

.importantNotification {
  color: white;
  font-size: .8rem;
  background: blue;
  text-align: center;
  width: 100%;
  padding: .4rem;
}
